{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
    <h2 style="position: fixed; margin-top: -50px; margin-left: -12px; width: 100%; background-color: #202225; z-index: 1000; padding: 10px; border-radius: 10px;">Messages</h2>
    <div class="chat-page" style="margin-top: 30px;">
        <table class="chat-messages">
            {% for message in messages %}
                {% if message.username == session["user_id"] %}
                    <tr class="message">
                        <td class="message"><b style="color: #22afff">You</b><b>:</b> {{ message.message }}</td>
                    </tr>
                {% endif %}
                {% if message.username != session["user_id"] %}
                    <tr class="message">
                        <td class="message"><b style="color: #22afff">{{ message.username }}</b><b>:</b> {{ message.message }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="message-box">
            <!--implement a full system for the users to send messages-->
            <form action="/messages" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto send" id="recipient"
                        name="recipient" placeholder="Recipient" type="text">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto send" id="message" name="message"
                        placeholder="Message" type="text">
                </div>
                <button class="btn btn-primary button" type="submit">Send</button>
            </form>
        </div>
    </div>
{% endblock %}