{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<h2>Buy</h2>
<form class="search-form" action="/buy" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}